name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Build backend service
      run: docker build -t backend:$(date +%s) -f backend/Dockerfile backend

    - name: Build frontend service
      run: docker build -t frontend:$(date +%s) -f frontend/Dockerfile frontend

    - name: Build portal service
      run: docker build -t portal:$(date +%s) -f portal/Dockerfile portal

    - name: Build payment service
      run: docker build -t payment:$(date +%s) -f payment/Dockerfile payment
